project:
  type: website

website:
  title: ""
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd
      - publications.qmd

format:
  html:
    theme:
      light: zephyr
      dark: darkly
    css: styles.css
    toc: true

editor: visual

execute:
  freeze: auto
