/* css styles */

.content-block {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 2em;
  height: calc(100% + 250px);
}

.feature {
  flex-basis: 33%;
  text-align: center;
}

.icon {
  width: 100px;
  height: 100px;
}