/* css styles */

.content-block {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
}

@media(min-width: 900px) {
.content-block {
  margin-left: 50px;
  margin-right: 50px;
}
}

@media (min-width: 1200px) {
.content-block {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 2em;
  height: calc(100% + 250px);
}

.feature {
  flex-basis: 50%;
  text-align: center;
}

[\\]: # "for screen sizes >800 pixels"

@media (min-width: 800px) { 
.features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 0 0 -30px;
  width: calc(100% + 30px);
}
.feature {
  width: calc(50% - 30px);
  margin: 20px 0 0 30px;
}

}

.icon {
  width: 75px;
  height: 75px;
  
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}

.center-text {
  text-align: center;
}

#profile-pic {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  overflow: hidden;
}

#citation-pic {
  height: auto;
  width: 300px;
  overflow: hidden;
}

.just-text {
  text-align: justify;
}

.vh-center {
  display: grid;
  justify-content: center;
  align-items: center;
}

.vh-left {
  display: grid;
  justify-content: left;
  align-items: left;
}

.vh-start {
  display: grid;
  justify-content: flex-start;
  align-items: right;
}

.pic-lb {
  width: 300px;
}

ul {
  list-style-type: none;
}

.altmetric {
  margin: 0px; /* remove all margins to fit two divs in the container */
  display: inline-block; /* display block elements in one line */
}

.dimensions {
  margin: 0px; /* remove all margins to fit two divs in the container */
  display: inline-block; /* display block elements in one line */
}
